
.bee-main {
  padding: 0px 15px;
}

$font-color: #717171;
$main-color-3: #6e91f7;
$main-color-2: #1354f6;

label {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}

.bee-no-button {
  border: 0px;
  background: transparent;
}

.bee-page-title {
  color: $font-color;
  i {
    margin-right: 8px;
    color: $main-color-3;
  }
}

@keyframes pull_up {
  0% {
    height: 0px;
  }
  100% {
    height: 90px;
    display: block;
  }
}

.bee-imgbox {
  padding: 15px;
  padding-left: 0px;
  display: flex;
  .bee-imgbox-dragedimg {
    width: 90px;
    height: 90px;
    position: relative;
    margin-right: 12px;
    .fa-close {
      margin-top: -8px;
      position: absolute;
      font-size: 18px;
      color: white;
      right: -6px;
      border-radius: 50%;
      background: #ed3833;
      width: 22px;
      height: 22px;
      padding-left: 4px;
      display: none;
      z-index: 2;
    }
    .bee-mask {
      color: white;
      position: absolute;
      width: 90px;
      height: 90px;
      text-align: center;
      line-height: 90px;
      background: #656363cf;
      border-radius: 6px;
      display: none;
    }
    .coner {
      position: absolute;
      bottom: 0;
      right: -1px;
    }
    &:hover {
      .bee-mask {

        animation: pull_up .2s;
        display: block;
      }
      cursor: pointer;

      .fa-close {
        padding-top: 1px;
        display: block;
        &:hover {
          cursor: pointer;
        }
      }
    }

  }

}

.bee-depc {

  margin: 6px 0px;
  font-size: 12px;
  color: #ef940c;

}

.plus-btn {
  display: inline-block;
  padding: 3px 8px;
  background: #dcdcdc;
  border-radius: 15px;
  font-size: 12px;
  border: 1px solid #d0cfcf;
}

form .bee_types_choose {
  margin-bottom: 15px;
  a {
    padding: 5px 10px;
    background: #c0c0bf;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin: 0px 5px;
  }
  a.active {
    background: yellowgreen;
  }
  a.add {
    background: transparent;
    color: #555;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  input {
    width: 70px !important;
    height: 35px !important;
    display: inline-block;
    vertical-align: bottom !important;
  }
}

.bee-card {
  margin-bottom: 12px;
  position: relative;
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }
  .bee-tag {
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    background: #abababdb;
    border-radius: 15px;
    font-size: 13px;
    color: #fff;
  }

  .bee-box {

    margin-bottom: 12px;
    .is-sticky {
      margin-bottom: 0px;
      .bee-tag {
        position: absolute;
      }
    }
  }

  .image {
    width: 100%;
    display: block;
  }
  .time {
    font-size: 13px;
    color: #999;
  }
  button.card-but {
    padding: 0;
    float: right;
  }
}

.bee-card{
  border: 1px solid #efebeb;;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.bee-card-container{
  padding: 12px;
}
